*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.conteneur h1{
    text-align: center;
    margin: 1em;
}
