.canvas{
    width: 400px;
    height: 200px;
}
body{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    background-color:rgb(199, 199, 168);
}
.container{
    margin-top: 5em;
    text-align: center;
    line-height: 1em;
    background-color: white;
}
.canvas{
    width: 600px;
    height: 400px;
    border: 1px solid black;
}
button{
    width: 5em;
    height: 2em; 
}
.commande{
    margin-bottom: 15px;
}
.d2,.d3,.d4,.d5,.d6,.d7,.d8,.d9,.d10{
    
    position:absolute;
    top: 14em;
    left: 65em;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: black;
    transition: 1s;
    
}
.d2{
    transition: display 1s;
    display: none;
}
.d3{
    transition: display 1s;
    display: none;
    top: 34em;
}
.d4{
    transition: display 1s;
    display: none;
    top: 24em;
}
.d5{
    transition: display 1s;
    display: none;
    left: 35em;
}
.d6{
    transition: display 1s;
    display: none;
    left: 50em;
}
.d7{
    transition: display 1s;
    display: none;
    left: 50em;
    top: 24em;
}
.d8{
    transition: 1s;
    display: none;
    top: 24em;
    left: 35em;
}
.d9{
    transition: 1s;
    display: none;
    left: 35em;
    top: 34em;
}
.d10{
    transition: 1s;
    display: none;
    top: 34em;
    left: 50em;
}
.disparait{
    display: none;
}